button {
  border-radius: 2px;
  border-style: hidden;
  color: white;
  background: rgb(27 97 210);
  font-size: 12px;
  padding: 3px 20px;
  font-family: "Lexend", sans-serif;
  transition: background 0.12s;

  &:hover {
    background: #00bfff;
    cursor: pointer;
  }
}
