header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #ccc;
  padding: 15px;

  h1 {
    display: flex;
    font-family: "Lexend", sans-serif;
    font-size: 50px;
  }
}
