table {
  font-family: "Lexend", sans-serif;
  border: 1px solid #eee;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 40px;

  thead {
    background: #eee;
    font-size: 12px;

    th {
      vertical-align: bottom;
      padding: 3px;
    }
  }

  tr,
  td {
    font-size: 10px;
    border: 1px solid #eee;
  }

  td .buttons-table {
    margin-left: auto;
  }
}
