table {
  font-family: "Lexend", sans-serif;
  border: 1px solid #eee;
  text-align: center;
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 20px;

  thead {
    background: #eee;

    th {
      vertical-align: bottom;
      padding: 5px;
    }
  }

  tr,
  td {
    border: 1px solid #eee;
  }

  td.buttons-table {
    margin-left: auto;

    button {
      border: none;
      background: transparent;
      color: blue;
      text-decoration: underline;
      font-size: 16px;
    }
  }
}
